<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.schooltimetable.persistence.CalendarDayRepository">
    <resultMap id="CalendarDayResultMap" type="com.solvd.schooltimetable.domain.CalendarDay" autoMapping="false">
        <id property="id" column="calendar_day_id"/>
        <result property="name" column="calendar_day_name"/>
    </resultMap>

    <sql id="fields">
        cd.id as calendar_day_id,
        cd.name as calendar_day_name
    </sql>

    <sql id="findAll">
        select
        <include refid="fields"/>
        from calendar_days cd
    </sql>

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        insert into calendar_days (name)
        values (#{name});
    </insert>

    <select id="findAll" resultMap="CalendarDayResultMap">
        <include refid="findAll"/>
    </select>

    <select id="findById" resultMap="CalendarDayResultMap">
        <include refid="findAll"/>
        <![CDATA[ where cd.id = #{id}; ]]>
    </select>

    <update id="update" keyProperty="CalendarDay.id" useGeneratedKeys="true">
        update calendar_days set
        name = #{name}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete from calendar_days where id = #{id};
    </delete>
</mapper>
