<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.schooltimetable.persistence.SubjectRepository">
    <resultMap id="SubjectResultMap" type="com.solvd.schooltimetable.domain.Subject" autoMapping="false">
        <id property="id" column="subject_id"/>
        <result property="name" column="subject_name"/>
        <collection property="teachers" resultMap="com.solvd.schooltimetable.persistence.TeacherRepository.TeacherResultMap"/>
    </resultMap>

    <sql id="fields">
        s.id as subject_id,
        s.name as subject_name
    </sql>

    <sql id="findAll">
        select
        <include refid="fields"/>
        from subjects s
    </sql>

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        insert into subjects (name)
        values (#{name})
    </insert>

    <select id="findAll" resultMap="SubjectResultMap">
        <include refid="findAll"/>
    </select>

    <select id="findById" resultMap="SubjectResultMap">
        <include refid="findAll"/>
        <![CDATA[ where s.id = #{id}; ]]>
    </select>

    <update id="update">
        update subjects set
        name = #{name}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete from subjects where id = #{id};
    </delete>
</mapper>
