<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.schooltimetable.persistence.TeacherRepository">
    <resultMap id="TeacherResultMap" type="com.solvd.schooltimetable.domain.Teacher" autoMapping="false">
        <id property="id" column="teacher_id"/>
        <result property="fullName" column="teacher_full_name"/>
        <association property="subject"
                     resultMap="com.solvd.schooltimetable.persistence.SubjectRepository.SubjectResultMap"/>
    </resultMap>

    <sql id="fields">
        t.id as teacher_id,
        t.full_name as teacher_full_name
    </sql>

    <sql id="joins">
        left join subjects s on s.id = t.subject_id
    </sql>

    <sql id="findAll">
        select
        <include refid="fields"/>,
        <include refid="com.solvd.schooltimetable.persistence.SubjectRepository.fields"/>
        from teachers t
        <include refid="joins"/>
    </sql>

    <select id="findAll" resultMap="TeacherResultMap">
        <include refid="findAll"/>
    </select>

    <select id="findById" resultMap="TeacherResultMap">
        <include refid="findAll"/>
        <![CDATA[ where t.id = #{id}; ]]>
    </select>

    <insert id="create" keyProperty="id" useGeneratedKeys="true">
        insert into teachers (subject_id, full_name)
        values (#{subject.id}, #{fullName});
    </insert>

    <update id="update">
        update teachers set
        full_name = #{fullName},
        subject_id = #{subject.id}
        where id = #{id};
    </update>

    <delete id="deleteById">
        delete from teachers where id = #{id};
    </delete>

    <delete id="delete">
        delete from teachers where id = #{id};
    </delete>
</mapper>
